<mat-card class="gallery">
  <mat-card-content class="upper-bar">
    <app-search-bar></app-search-bar>
  </mat-card-content>
  <mat-spinner class="spinner" *ngIf="loading$ | async; else galleryList"></mat-spinner>

      <mat-card-content  *ngIf="error$ | async">
        <p>Oops, something went wrong... Try again, please!</p>
      </mat-card-content>
  <ng-template #galleryList>
    <mat-card-content>
      <mat-grid-list gutterSize="5px" cols="4">
        <mat-grid-tile class="tile" *ngFor="let item of storedCats$ | async">
          <div class="thumb">
            <img class="image" [src]="item.url" />
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </ng-template>
</mat-card>
